html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0 auto;
   
}

nav{
    background-color: rgb(121, 121, 121);
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

div{
    color: white;
    margin-left: 35px;
    padding-right: 35px;
    
}

.company{
    font-size: 22px;
    padding-right: 60%;
}

.main{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 50px;
    color: rgb(212, 212, 5);
}

.content{
    background-color: white;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.square{
    background-color: rgb(93, 158, 199);
    width: 18vw;
    height: 25vh;
    border-radius: 15%;
}

.rectangle{
    background-color: rgb(192, 81, 81);
    width: 30vw;
    height: 30vh;

}


